<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpe.cin.dso.booklogger">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard             |keyboardHidden|navigation|screenLayout|fontScale             |uiMode|orientation|screenSize|smallestScreenSize             |layoutDirection"
            android:label="@string/app_name" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard             |keyboardHidden|navigation|screenLayout|fontScale             |uiMode|orientation|screenSize|smallestScreenSize             |layoutDirection" />
        <activity
            android:name=".SearchBookActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard             |keyboardHidden|navigation|screenLayout|fontScale             |uiMode|orientation|screenSize|smallestScreenSize             |layoutDirection" />
        <activity
            android:name=".CreateBookActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard             |keyboardHidden|navigation|screenLayout|fontScale             |uiMode|orientation|screenSize|smallestScreenSize             |layoutDirection" />
        <activity
            android:name=".BookInfoActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard             |keyboardHidden|navigation|screenLayout|fontScale             |uiMode|orientation|screenSize|smallestScreenSize             |layoutDirection" />

        <service
            android:name=".FirebaseService"
            android:exported="false" />
        <service
            android:name=".GoogleBooksService"
            android:exported="false"></service>
    </application>

</manifest>